filter = include/
filter = src/
filter = test/
exclude = test/input

# Ignore negative-hit values emitted by gcov due to GCC bug #68080.
# https://gcc.gnu.org/bugzilla/show_bug.cgi?id=68080
gcov-ignore-parse-errors = negative_hits.warn_once_per_file
